/* Global */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  font: 0.8125em/1.3077em Roboto, arial, sans-serif;
  background: #fff;
}

h1 {
  margin: 0 0 0.4167em;
  font-weight: normal;
  font-size: 1.8462em;
  line-height: 1em;
}

h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-weight: 500;
}

a {
  color: #167ac6;
  text-decoration: none;
  font-size:16px;
}

a:hover { text-decoration: underline; }

p { margin-top: 0; }

ul {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  height: 1.75em;
  padding: 0.125em 0.375em;
  font-size: 1.2308em;
  border: 1px solid #d3d3d3;
}

textarea {
  width: calc(100% - 60px - 0.7692em);
  min-height: 4.6154em;
  padding: 0.4615em;
  margin: 0 0 0.3846em 0.7692em;
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
}

.sprite,
.sprite::before,
.sprite::after {
  background-image: url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflkD1i2W.webp);
  background-repeat: no-repeat;
}

.sprite-alt,
.sprite-alt::before,
.sprite-alt::after {
  background-image: url(//s.ytimg.com/yts/imgbin/www-comments-vflRCgdRD.webp);
  background-repeat: no-repeat;
}

.text-replace {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  font-size: 0;
}
.translate.button{
    background-image: url("/img/translate.png");	
    width: 30px;
    height: 30px;
	background-size:100% 100%;
}
.save.button{
    background-image: url("/img/save.png");	
    width: 30px;
    height: 30px;
	background-size:100% 100%;
}

.button {
  display: inline-block;
  height: 2.5455em;
  padding: 0 10px;
  color: #333;
  font-weight: 500;
  font-size: 0.8462em;
  line-height: 2.5455em;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  cursor: pointer;
  z-index: 20;
}

.button:hover {
  text-decoration: none;
  background: #f0f0f0;
  border-color: #c6c6c6;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.avatar,
.vid-thumb {
  float: left;
  margin-right: 0.7692em;
}

.more {
  display: block;
  margin-top: 2em;
  color: #767676;
  font-size: 0.8462em;
  line-height: 2.5455em;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e2e2e2;
}

.more:hover {
  color: #222;
  text-decoration: none;
}


/* Content */

.content-wrap {
  padding: calc(3.7692em + 480px) 0 0.01em;
  overflow: auto;
  background: #f1f1f1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.content-wrap.PiP { padding: calc(4.25em + 236px) 0 0.01em; }


/* Video 
  top: 3.7692em;*/

.video {
  position: fixed;
  z-index: 10;
  bottom: 1%;
 /*  right: 0;
  width: 100%;
  height: 480px;
  -webkit-transition: 300ms; 
  background: #000;*/
  overflow: hidden;
  text-align: center;
  transition: 300ms;
}



/*
  width: 420px;
  height: 236px;
  width: 47%;
  width: 71%;
  */
.PiP .video {
  right: 0.7692em;
  width: 640px;
  height: 507px;
  background: transparent;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.box{
height: 480px;
}


@media (max-width: 400px) {
  .video {
	width: 62% !important;
	height: 190px !important;
  }
}

.video iframe {
  width: 854px;
  height: 480px;
  -webkit-transition: 300ms;
  transition: 300ms;
}
/*
  width: 420px;
  height: 236px;
*/
.PiP iframe {
  width: 100%;
  height: 100%;
}


/* Details */

  /*width: calc(100% - 430px);
  width: calc(100% - 47.2%);*/  
.details {
  float: left;
  width: calc(100% - 0%);
  padding: 0.7692em 0.7692em 0;
  padding-left:6px;
  background: #f1f1f1;
}

.details > * {
  position: relative;
  padding: 1.1538em;
  margin-bottom: 0.7692em;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.details-description,
.details-sidebar { padding-bottom: 0; }

.details li {
  list-style: none;
  display: inline-block;
}

.details-header .actions {
  clear: left;
  border-top: 1px solid #e2e2e2;
}

.details-header .actions ul { padding-top: 0.9231em; }

.details-header .actions a {
  margin-right: 1.8181em;
  color: #000;
  font-size: 0.8462em;
  text-decoration: none;
  background: none;
  opacity: 0.5;
}

.details-header .actions a:hover { opacity: 0.6; }

.details-header .actions .more {
  margin: 0;
  line-height: inherit; 
  border: none;;
}

.details-header .actions a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 0.5455em;
}

.add-to::before { background-position: -273px 0; }

.share::before { background-position: -274px -237px; }

.more::before { background-position: -366px -421px; }

.details-comments h3 a {
  color: #666;
  text-transform: uppercase;
}

.details-comments .more {
  padding: 0.8333em;
  margin: 1.25em 2.0833em;
  color: #333;
  font-weight: 500;
  font-size: 0.9231em;
  line-height: normal;
  text-transform: none;
  border: 1px solid #d3d3d3;
}

.details-comments .more:hover { background-image: -webkit-linear-gradient(bottom,#f0f0f0 0,#f8f8f8 100%); background-image: linear-gradient(to top,#f0f0f0 0,#f8f8f8 100%); }


/* Sidebar */

.sidebar {
  position: relative;
  float: left;
  padding: 1.1538em;
  margin: 0.7692em 0.7692em 0.7692em 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.autoplay {
  position: absolute;
  top: 1.1538em;
  right: 1.1538em;
  color: #767676;
}

.autoplay h4 {
  display: inline-block;
  background: none;
  cursor: pointer;
}

.autoplay h4::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 0.3077em;
  background-position: -535px -366px;
  opacity: 0.5;
}

.autoplay h4:hover::after { opacity: 0.6; }

.toggle-switch {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 35px;
  background: #b8b8b8;
  border-radius: 15px;
  cursor: pointer;
}

.toggle-switch::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
}

.sidebar { width: 420px; }

.sidebar li {
  position: relative;
  display: block;
  margin-bottom: 1.1538em;
  overflow: auto;
}

.sidebar li:nth-child(2) {
  padding-top: 1em;
  border-top: 1px solid #e2e2e2;
}

.sidebar a {
  display: block;
  color: #333;
}

.sidebar a::before {
  content: attr(data-time);
  position: absolute;
  bottom: 2px;
  right: calc(100% - 118px);
  padding: 0 0.3636em;
  color: #fff;
  font-weight: 500;
  font-size: 0.8462em;
  background: #000;
  opacity: 0.75;
}

.sidebar a:hover { text-decoration: none; }

.sidebar a:hover h4 { color: #167ac6; }

.sidebar .vid-thumb {
  width: 120px;
  height: 68px;
  background-color: #000;
  background-position: center;
  background-size: cover;
}

.sidebar p {
  margin: 0;
  font-size: 0.8462em;
}